<div class="brick" id="list">
	
	<h1>Todo list:</h1>

	<% @tasks_list.each do |task| %>
		<li>
			<div class="title">
				<%= task.title %> <br>
			</div>

			<div class="body">
				<%= task.body %> <br>
			</div>

			<%= link_to "Edit", edit_task_path(task), :id => "button"  %>
			<%= button_to "Delete", task_path(task), :method => :delete , :id => "button" %>
		</li>
	<% end %>

</div>